{% load extras %}

<h1>Movies</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<ul>
    {% for m in movies %}   
        <li>
            <h2>{{ m.title }} ({{ m.date_released.year }})</h2>
            <p>By {{ m.director }}</p>
            <img src="{{ m.image.url }}" alt="{{ m.title }}">
            <div class="actor-section">
                {% for a in m.actors.all %}
                    <p>{{ a.name }}</p>
                    <img src="{{ a.image.url }}" alt="{{ a.name }}">
                {% endfor %}
            </div>
            <div class="description">
                <p>{{ m.summary }}</p>
            </div>
            {% if user.is_authenticated %}
                <a href="/reviews/add?mid={{ m.mid }}">Add review</a>
                <a href="/cart/add/?mid={{ m.mid }}">Add to cart</a>
            {% endif %}
            {% for r in reviews|index:forloop.counter0 %}
                {% if r.is_visible %}
                    <h3>{{ r.title }}</h3>
                    {% if user == r.user %}
                        <a href="/reviews/edit?rid={{ r.rid }}">Edit review</a>
                        <a href="/reviews/delete?rid={{ r.rid }}">Delete review</a>
                    {% else %}
                        <a href="/reviews/report?rid={{ r.rid }}">Report review</a>
                    {% endif %}
                    <p>By {{ r.user.username }} on {{ r.date_created }}</p>
                    <p>{{ r.comment }}</p>
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
</ul>
