{% extends "base.html" %}
{% load extras %}

{% block title %}Movies{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
            {% include "userbar.html" %}
        {% else %}
            {% include "regbar.html" %}
    {% endif %}
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<h1 class="text-center mt-3">Movies</h1>

<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="container d-flex flex-column align-items-center justify-content-center flex-grow-1">
        <div class="bg-dark rounded m-4 p-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="m-3 mt-1 mb-1 col-auto">
                        {{ form.search }}
                    </div>
                    <div class="m-1 col">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>

        {% for m in movies %}
            <div class="container m-3 p-3 rounded bg-dark">
                <h2 class="text-center">{{ m.title }} ({{ m.date_released.year }})</h2>
                <p class="text-center">By {{ m.director }}</p>
                <div class="container-fluid text-center">
                    {% if m.image %}
                        <img class="rounded img-fluid" style="width:100%;height:1920px;object-fit:cover;" src="{{ m.image.url }}" alt="{{ m.title }}">
                    {% else %}
                        <img class="rounded img-fluid" style="width:100%;height:1920px;object-fit:cover;" src="/static/images/default-movie.png" alt="{{ m.title }}">
                    {% endif %}
                </div>
                <div class="container-fluid p-3">
                    {{ m.summary }}
                </div>
                <div id="actors-movie-{{ m.mid }}" class="collapse">
                    <div class="row">
                        {% for a in m.actors.all %}
                            <div class="card col-sm m-2 p-2 bg-secondary" style="width: 400px">
                                {% if a.image %}
                                    <img class="card-img-top rounded img-fluid" style="width:100%;height:480px;object-fit:cover;" src="{{ a.image.url }}" alt="{{ a.name }}">
                                {% else %}
                                    <img class="card-img-top rounded img-fluid" style="width:100%;height:480px;object-fit:cover;" src="/static/images/default-person.png" alt="{{ a.name }}">
                                {% endif %}
                                <div class="card-body">
                                    <div class="card-title text-center">{{ a.name }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary p-2 mt-3 m-2" data-bs-toggle="collapse" data-bs-target="#actors-movie-{{ m.mid }}">Show Actors</button>
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary p-2 mt-3 m-2" href="/cart/add/?mid={{ m.mid }}">Add to cart</a>
                        <a class="btn btn-primary p-2 mt-3 m-2" href="/reviews/add?mid={{ m.mid }}">Add review</a>
                    {% endif %}
                    <button class="btn btn-primary p-2 mt-3 m-2" data-bs-toggle="collapse" data-bs-target="#reviews-movie-{{ m.mid }}">Hide Reviews</button>
                </div>
                <div id="reviews-movie-{{ m.mid }}" class="container rounded p-3 pt-4 mt-5 collapse bg-secondary show">
                    <h3>Reviews</h3>
                    {% for r in reviews|index:forloop.counter0 %}
                        {% if r.is_visible %}
                            <div class="container rounded p-3 mt-3 bg-dark">
                                <h3 class="m-3 mt-1">{{ r.title }}</h3>
                                <p class="m-5 mt-1 mb-3">By {{ r.user.username }} on {{ r.date_created }}</p>
                                <p class="m-4 mt-3 mb-1">{{ r.comment }}</p>
                                <div class="m-3 mt-2">
                                    {% if user == r.user %}
                                        <a class="small btn btn-primary" href="/reviews/edit?rid={{ r.rid }}">Edit review</a>
                                        <a class="btn btn-primary" href="/reviews/delete?rid={{ r.rid }}">Delete review</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="/reviews/report?rid={{ r.rid }}">Report review</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
